
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DIN Alternate;

}

body{
  justify-content: center;
  width: 100vw;
  /* background-color: black; */
}
.home{
  /* padding-top:40px; */
  min-height: 60vh;
  width: 100%;
  background-image: url(https://s2.loli.net/2022/02/04/h4HuJ39Kcqts5Oy.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sticky img{
  width: 3rem;
  position: absolute;
  top:20px;
  left:20px;
}

nav
{
  position: relative;
  width:100%;
  background-color: pink;
}

nav.sticky{
  position: fixed;
  background-color: transparent;
  /* opacity: 1; */
  z-index: 29;
}

nav h3
{
  margin: 0;
  padding: 0;
  float: right;
  padding: 20px 20px;
}
nav h3 a
{
  /* font-size: 40px; */
  color: #000;
  text-decoration: none;
  float: right;
}
nav ul
{
  margin: 0;
  /* padding: 0 190px; */
  float: right;
}
nav ul li
{
  list-style: none;
  display: inline-block;
  padding: 20px 4vw ;
  transition: .2s;
}
nav ul li a
{
  color:#000;
  text-decoration: none;
  font-size: 10px
}
nav ul li:hover
{
  background: #e91e63;
}

.responsive-bar
{
 display: none;
 position: fixed;
 top:20px;
 width:100%;
 /* background: #ffffff; */
 padding:-90px 0px;
 padding-left: 3vw;
 padding-right: 3vw;
 box-sizing: border-box;
 z-index: 30;
}

.responsive-bar img
{
  margin: 0;
  /* padding: 3px 0; */
  color:#fff;
  float: left;
  cursor: pointer;
}

.responsive-bar h4
{
margin-right: 0.4rem;
color: #ffffff;
float: right;
padding: 4px 8px;
background: #e91e63;
cursor:pointer;
font-size: 12px
}





.bg img{
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  z-index: -1;
}

/* section {
  display: grid;
} */

/* .intro-section{
  background-color: lightblue;
} */
#intro{
  display: grid;
  width: 100%;
  height: 500px;
  /* background: lightgrey; */
  grid-template-rows:  80px 80px 80px 80px 80px 80px;
  grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 20vw 20vw;
  /* repeat（5，1fr); */
}
.p1{
  grid-area: 3/1/4/2;
  /* background-color: lightgreen; */
}
.p1 img{
  width: 25vw;
}
.intro h1{
 grid-area: 3/2/4/2;
 /* background-color: red */
}
.intro h2{
 grid-area: 4/2/6/6;
 /* background-color: red */
}
.p2{
  grid-area: 6/6/3/8;
  z-index:1;
  /* background-color: pink; */
}
.p2 img{
    margin-left: 2vw;
  width: 20rem;
  margin-top: -4vh;
}
.p3{
  grid-area: 6/7/3/8;
  /* background-color: pink; */
}
.p3 img{
    margin-left: 2vw;
    width: 16rem;
    opacity: 50%;
    z-index: 0;
}

.p4{
/* background-color: red; */
}
.p4 img{
  width: 20px;
}
/*my works section*/
section{
  display: grid;
  justify-items:center;
  /* padding: 0 40px; */
  width: 100%;
}

.myworks{
  justify-content: center;
  margin-top: 6vh;
  /* padding-top: 120px; */
  position: relative;
  top: -10vh;
  padding-bottom: 250px;
  top:10px;
  /* background-color: lightyellow; */


}

.titlebox{
  display:flex;
  align-items: center;
  /* background-color: red; */
  height: 50px;
  margin-top: 8vh;

}
.titlebox img{
  width: 8vw;
}
.titlebox h2{
  position: relative;
}


.works{
  padding-top: 4vh;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 8vw;
  margin-top: 1.72rem;
  row-gap:8vh;
  margin: 10px;
}

.box{
  background-image: url(https://s2.loli.net/2022/02/04/h4HuJ39Kcqts5Oy.png);
  background-size: cover;
  overflow: hidden;
  /* cursor: pointer; */
  height: 200px;
  width: 300px;
  background-repeat: no-repeat;
}
.box:hover{
transform: translateY(-8px)scale(1.04);
box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.1);
}



.box img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
}



.card
{
  position: relative;
  top: -130px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.4s;
  text-align: center;
  /* background-color: green; */
}

.box:hover .card{
  transform: translateY(0);
  opacity: 1;
}

.card ::before{
  content:"";
  position: absolute;
  left:0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  z-index: -1;
  width:100%;
  height: 300px;
  transition: 0.5s;
}

.card h3{
  color: white;
  z-index: 0;
}
.card p{
  color: white;
  z-index: 0;
  font-size:
}






/* contact section */
.contactme{
  /* background-color: lightyellow; */
  /* margin-left: 10px; */
  /* margin-top: 1vh; */
  /* padding-top: 120px; */
  position: relative;
  top: -10vh;
  /* padding-bottom: 50px; */
  top:20px;
}
.BG{
  width: 100vw;
  height: 500px;
  display: grid;
  justify-items:center;
  background-image: url(https://s2.loli.net/2022/01/11/7NdmSoKDhbvwMuz.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#grid-container{
  display: grid;
  width: 600px;
  height: 500px;
  /* background: lightgrey; */
  grid-template-rows: 100px 100px 100px 100px 100px;
  /* repeat（5，1fr); */
  grid-template-columns:120px 120px 120px 120px 120px;
   /* repeat（5，1fr); */
}

.cell1{
  /* background-color: lightblue; */
  grid-area: 2/1/5/4;
  z-index: 4;
  /* justify-content: center; */
}

.cell2{
  /* background-color: red; */
  grid-area: 3/2/5/4;
  z-index: 6;

  /* animation:animate 3s ease-in-out infinite; */
  /* border: 2px solid black; */
}


.cell3{
  /* background-color: pink; */
  grid-area: 2/2/3/6;
  z-index: 2;
  /* box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.05); */
  border:
}

.cell4{
  /* background-color: yellow; */
  grid-area: 2/1/4/3;
  z-index: 10;
  animation:animate 2s infinite;
  animation-timing-function: ease-in-out;
}
@keyframes animate {
  0%{
    transform: translateY(10px);
    /* transform: translateZ(10px); */
  }
  50%{
    transform: translateY(-10px);
    /* transform: translateZ(-10px); */
  }

}

.cell5{
  /* background-color: lightgreen; */
  grid-area:3/3/5/5;
  margin-left: 6vw;
  /* grid-template-columns: 2fr; */
}
.content{
display:flex;
}
.content i{
  width: 4vw;
  font-size: 2vw;
  margin-right:2vw;
  margin-top: 3vh;
}
.content p{
  font-size:1rem;
}

.cell1 img{
 width: 220px;
 margin-left: 5vw;
}

.cell2 img{
  /* margin-top: 100px; */
  margin-left: -80px;
  width: 13rem;
  z-index: 10;
  animation-name: example;
  animation-duration: 3s ;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;

}

@keyframes example {
  from {width: 11rem;}
  to {width: 14rem;}
}


.cell3 h1{
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color:#000;
  margin-top: -1vh;
  color: transparent;
  font-family: DIN Alternate;
  font-size: 6vw;
}

.cell4 img{
  margin-top: 10px;
  margin-left: 4vw;
  width: 220px;
  z-index: 5;
}





@media (max-width:740px)
{
  nav
  {
    display: none;
  }
  .responsive-bar
  {
    display: block;
  }
  nav h3
  {
    display: block;
    float: none;
  }
  nav ul
  {
    float: none;
  }
  nav ul li
  {
    display: block;
    text-align: center;
    background: #ffffff;
    padding: 10px 12px;
    border-bottom: 1px solid rgba(255,255,255,.1);
  }
.sticky img{
  display: none;
}
.responsive-bar img{
  margin-left: 0.34rem;

}

@media (max-width:740px){
  .p1{
    grid-area: 2/6/5/9;
    z-index: 0;
    /* background-color: red; */
  }
  .p1 img{
    width: 50vw;
    transform: rotateY(180deg);
  }
  .intro h1{
   grid-area: 3/2/4/2;
   margin-top: -9vh;
   /* background-color: red */
  }
  .intro h2{
   grid-area: 4/2/6/9;
   margin-right: 6vw;
   margin-top: -14vh;
   z-index: 1;
   /* background-color: red */
  }
  .p2{
    grid-area: 6/5/5/6;
    z-index:1;
    /* background-color: pink; */
  }
  .p2 img{
    margin-left: 10vw;
    width:40vw;
    margin-top: -4vh;
  }
  .p3{
    grid-area:7/7/5/7;
    /* background-color: yellow; */
  }
  .p3 img{
      margin-left: 4vw;
      width: 30vw;
      opacity: 50%;
      z-index: 0;
  }

  .p4{
    /* background-color: blue; */
    grid-area: 5/1/7/9;
  }
  .p4 img{
    width: 100vw;
  }
}


  @media (max-width:840px){
    .works{
      grid-template-columns: repeat(2,1fr);
    }

    .box {
      width: 280px;
      height: 186px;
      overflow: hidden;
      z-index: 0;
      cursor: pointer;
    }
}




  @media (max-width:540px)
  {
    .works{
      grid-template-columns: 1fr;
    }

    #grid-container{
      display: grid;
    }


    .cell2{
      /* background-color: red; */
      grid-area: 2/2/3/3;
      z-index: 6;
      margin-left: 8vw;
      /* animation:animate 3s ease-in-out infinite; */
      /* border: 2px solid black; */
    }

    .cell2 img{
      z-index: 10;
      animation-name: example;
      animation-duration: 3s ;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
      animation-timing-function: ease-in-out;
    }

    @keyframes example {
      from {width: 6rem;}
      to {width: 8rem;}
    }

    .cell3{
      /* background-color: pink; */
      grid-area: 2/1/3/4;
      z-index: 2;
      margin-top: 30px;
      /* box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.05); */
      border:
    }
    .cell5{
      /* background-color: green; */
      grid-area:3/1/5/4;
      margin-left: 22vw;
    }
    .content{
    /* grid-template-columns: 2fr; */
    display:flex;
    }
    .content i{
      width: 40px;
      margin-top: 4vw;
      font-size: 25px;
    }

    .cell1 img{
     width: 100px;
     margin-left: 33vw;
     margin-top: -40px;
    }
    .cell4 img{
      margin-top: -40px;
      margin-left: 30vw;
      width: 100px;
      z-index: 5;
    }


    .cell3 h1{
      -webkit-text-stroke-width:1px;
      -webkit-text-stroke-color:#000;
      margin-left:60px;
      margin-top: 20px;
      color: transparent;
      font-family: DIN Alternate;
      font-size: 10vw;
    }







}
}















}
